@* @page "/galerytattoo" *@
@using Microsoft.Extensions.Localization
@using Radzen.Blazor
@using BlazorStrap
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using Radzen.Blazor.Rendering
@using System.Text.Json
@using Tattoo.InkVibesTattoo.Models.Forms
@using Tattoo.InkVibesTattoo.Security
@inherits LayoutComponentBase
@* @inject TooltipService tooltipService; *@
@inject IJSRuntime JSRuntime;
@* @inject NotificationService _notificationService;
@inject DialogService DialogService; *@
@inject LazyAssemblyLoader loader;
@inject LocalizationService LocalizationService
@* @inject IStringLocalizer<Resources.Resource> Localizer *@

<NotranslateDirective>
    <BSCarousel HasControls="false" IsDark="true" Class="full-width-carousel">
        @foreach (var tattoo in _GaleryTattoosData)
        {
            <BSCarouselItem>
                <div class="carousel-image-wrapper">
                    <img src="@tattoo.ImagePath" alt="@tattoo.TattooName" class="carousel-image-layout" />
                </div>
            </BSCarouselItem>
        }
    </BSCarousel>

</NotranslateDirective>


        

