@page "/"

<PageTitle>Galería de Fotos</PageTitle>


<div id="section1" class="">
    <InitView />

</div>

<div id="section2" class="section">
    <Gallery />
</div>

<div id="section3" class="section d-block pt-5" style="    align-content: center;">
    <strong><em>A todos aquellos que encuentran belleza en los momentos simples de la vida, que ríen sin motivo y atesoran cada instante como un regalo. Que estas imágenes sean un reflejo de la alegría, amor y recuerdos que hacen de la vida una aventura inolvidable. Gracias por permitirme capturar tu historia y transformar cada sonrisa en un tesoro eterno.</em></strong>

    <div class="pt-3">
        <h1>Contacto</h1>

        <div class="contact-info">
            <h3>Producido por Estudios Candysoft</h3>
            <p><strong>Teléfono/WhatsApp:</strong> <a href="tel:54831128" class="button button-icon" style="    background-color: gray;"><img src="css/images/phone.png" alt="Phone Icon" /></a></p>
            <p><strong>Correo Electrónico:</strong> candysoft.roya@gmail.com</p>
            <p><strong>Dirección:</strong> San Jose de las Lajas Ave 43 entre 42 y 48</p>
        </div>

        <div class="social-media">
            <h3>Síguenos en</h3>
            <a href="https://www.facebook.com/profile.php?id=61558382876853" target="_blank" style="    background-color: gray;"><img src="css/images/facebook-new.png" alt="Facebook Icon" /></a>
        </div>
    </div>
    
</div>


<!-- Opcional: Pie de Página -->
<footer class="footer">
    <p>&copy; CandySoft Studio. Todos los derechos reservados.</p>
</footer>
