@* @inherits LayoutComponentBase

<div id="@ColumnId" class="draggable-column" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ColumnId { get; set; }
    [Parameter] public IDictionary<string, object> AdditionalAttributes { get; set; }

    [Inject] private IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeDraggable", ColumnId);
        }
    }
}
 *@